@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,500;0,800;1,500;1,800&display=swap');

:root {
	--primary-red: 1deg 90% 64%;
	--primary-blue: 219deg 85 26%;
	--light-grayish-blue-1: 210deg 60% 98%;
	--light-grayish-blue-2: 211deg 68% 94%;
	--light-grayish-blue-3: 205deg 33% 90%;
	--grayish-blue: 219deg 14% 63%;
	--dark-grayish-blue: 219deg 12% 42%;
	--very-dark-blue: 224deg 21% 14%;
}
* {
	@apply font-plus-jakarta-sans;
}
